# --- Compiled Binaries & Objects ---
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.lst
*.srec
*.d

# --- IDE Folders (STM32CubeIDE / Eclipse) ---
Debug/
Release/
Bin/
.settings/
.project
.cproject
.language_settings

# --- Keil uVision ---
*.uvguix.*
*.uvoptx
*.uv2
Listing/
Output/
*.dep
*.build_log.htm
*.htm
*.lnp
*.axf
*.sct

# --- VS Code & CMake ---
.vscode/
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

# --- Operating System & Misc ---
.DS_Store
Thumbs.db
*.bak
*.tmp
*.log

# Ignore generated firmware libraries
Drivers/
Middlewares/